html {
  scroll-behavior: smooth; }

main {
  min-height: calc(100vh - 60px); }

body {
  background: #fafafa;
  color: #333;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-weight: 400; }

* {
  box-sizing: border-box;
  font-family: "Muli", "Raleway", "Helvetica Neue", "Segoe UI", Tahoma, Verdana, sans-serif; }

.line-break {
  border: 1px solid rgba(51, 51, 51, 0.3);
  margin-bottom: 50px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fafafa; }

li {
  float: right; }

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease-out; }
  li a.contact {
    margin-left: -5px; }

li a:hover {
  text-decoration: underline; }

.menu-nav {
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  justify-content: center; }

.nav-btn {
  margin: 8px 0px;
  float: right; }
  .nav-btn a:hover {
    color: #5680e9; }

.nav-item.current > a {
  color: #5680e9; }

.nav-logo {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
  margin-right: 500px; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 200; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 250;
    text-align: center; }

.hi-heading {
  margin-top: 2rem;
  font-size: 3.5rem;
  font-weight: 600;
  justify-content: left; }

.msg-heading {
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 80%; }

.home-greeting {
  width: 950px;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin: auto; }

.bounce {
  animation: bounce 3.2s;
  animation-delay: 5s;
  animation-iteration-count: infinite; }

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-12px); } }

.portfolio {
  margin: auto;
  display: grid;
  width: 1000px;
  grid-template-columns: 1fr 1fr; }

.portfolio img {
  width: 450px;
  height: 450px;
  border-radius: 15px; }

.container {
  position: relative;
  display: inline-block;
  width: 450px;
  height: 450px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  border-radius: 15px; }

.histo-proj-img {
  background-color: #f1f1f1; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #333;
  border-radius: 15px; }

.container:hover .overlay {
  opacity: 0.9; }

.proj-title {
  text-align: center;
  font-weight: 800;
  font-size: 22px; }

.text {
  color: white;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 240px; }

strong {
  font-weight: 400; }

.icons a {
  color: #333;
  text-decoration: none;
  padding: 5px; }
  .icons a:hover {
    color: #5680e9;
    transition: all 0.3s ease-out; }

.icons {
  width: 100%;
  text-align: center; }

.icons .fa {
  display: inline-block;
  vertical-align: middle; }

#about h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left; }

.about-info {
  margin-top: 30px;
  display: grid;
  grid-template-areas: "bio-img bio";
  grid-template-columns: 1fr 1fr; }
  .about-info .bio-img {
    grid-area: bio-img;
    margin: auto;
    width: 350px;
    height: auto;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4);
    margin-right: 190px;
    border-radius: 15px; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.1rem;
    font-weight: 300;
    width: 500px;
    line-height: 37px;
    margin-top: 30px; }
  .about-info .weight {
    color: #333;
    text-decoration: none; }
  .about-info .contact-btn {
    text-decoration: none; }
  .about-info .btn {
    border: 1px solid #f1f1f1;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px; }
    .about-info .btn:hover {
      background-color: #8ca8ed;
      cursor: pointer; }

.process-desc {
  width: 720px;
  padding: 15px;
  line-height: 30px;
  margin: 20px auto;
  text-align: left;
  border: 2px solid rgba(51, 51, 51, 0.3);
  border-radius: 5px; }

.process-title {
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1.7rem; }

.design-example {
  width: 1000px;
  margin: 20px auto; }

.histobox-logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 400px; }

.example-title {
  text-align: center;
  margin: 45px 0px 5px 0px;
  font-size: 40px;
  font-weight: 600; }

.example-subheads {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #5680e9; }

.section-titles {
  text-align: left;
  font-size: 21px;
  font-weight: 600;
  margin-top: 20px; }

.section-desc {
  margin-left: 10px;
  line-height: 35px;
  margin-bottom: 40px; }

.design-flow {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 900px; }

.quote {
  margin-left: 10px;
  line-height: 35px;
  margin-top: -30px;
  font-weight: 600;
  margin-bottom: 40px; }

.persona-img {
  width: 700px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.matrix-img {
  width: 450px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.PM-img-sec {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px; }

.sitemap-img {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.adobexd-img {
  width: 450px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.adobexd {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px; }

.adobe-link {
  color: #333;
  font-size: 21px;
  text-decoration: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 275px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 40px; }
  .adobe-link:hover {
    background-color: #7396ed;
    cursor: pointer; }

.thank-you {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 30px; }

.thanks {
  display: flex;
  flex-direction: column;
  margin: auto; }

.future-steps {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
  line-height: 35px; }

#myBtn {
  border: 2px solid #f1f1f1;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 20px auto; }
  #myBtn:hover {
    background-color: #8ca8ed;
    cursor: pointer; }

.danceparty-header-img {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 20px;
  width: 500px; }

.nick-styl {
  width: 600px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.nick-sitemap {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.dance-video {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

#contact h2 {
  margin-top: 50px; }

form {
  text-align: center;
  margin-top: 50px;
  transition: all 2s ease-in-out; }

.form-control {
  width: 600px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
  color: #333;
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: 250; }

input {
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

form .submit {
  background-color: #8ca8ed;
  border-color: transparent;
  color: #000000;
  font-size: 17px;
  margin-bottom: 30px;
  border-radius: 5px; }
  form .submit:hover {
    background-color: #7396ed;
    cursor: pointer; }

.ideal-title {
  margin-bottom: 20px; }

.ideal-link {
  text-decoration: none;
  color: #333; }

.ideal-img {
  border: 4px solid;
  border-radius: 15px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 50px; }

.bold {
  font-weight: 600; }

#main-footer {
  text-align: center;
  background-color: whitesmoke;
  font-size: 14px;
  padding: 1rem;
  color: #333;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .bio-img {
    position: relative;
    left: 120px;
    width: 500px; }
  .fa-angle-down {
    font-size: 50px;
    color: #4d4d4d;
    z-index: 2;
    position: absolute;
    top: 91%;
    left: 50%; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #5680e9; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #333;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: #f2f2f2;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f2f2f2;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #5680e9;
    background-color: #f2f2f2; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.5rem;
    width: 825px; }
  .hi-heading {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin: auto; }
  .msg-heading {
    display: flex;
    justify-content: center;
    margin: auto; }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 825px; }
  .portfolio img {
    width: 380px;
    height: 380px;
    margin: auto; }
  .container {
    width: 380px;
    height: 380px;
    margin: auto;
    margin-bottom: 30px; }
  .about-info {
    margin-top: 100px; }
    .about-info .bio {
      width: 80%; }
    .about-info .bio-img {
      position: relative;
      left: 140px;
      width: 60%; }
  #about h2 {
    font-size: 23px;
    margin-bottom: -5px; }
  .bio-img {
    position: relative;
    left: 140px; }
  .bio p {
    font-size: 15px; }
  .fa-angle-down {
    display: none; } }

@media screen and (max-width: 768px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #5680e9; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #333;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: #f2f2f2;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f2f2f2;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #5680e9;
    background-color: #f2f2f2; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.5rem;
    width: 650px; }
  .hi-heading {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin: auto; }
  .msg-heading {
    display: flex;
    justify-content: center;
    margin: auto; }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 660px; }
  .portfolio img {
    width: 300px;
    height: 300px;
    margin: auto; }
  .container {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px; }
  #about h2 {
    text-align: center; }
  .about-info {
    grid-template-areas: "bio-img" "bio";
    grid-template-columns: 1fr; }
  .about-info .bio-img {
    margin-right: auto;
    margin-top: 70px;
    width: 40%; }
  .about-info .bio {
    margin: auto;
    width: 90%; }
  .bio p {
    font-size: 14px; }
  .form-control {
    width: 400px; } }

@media screen and (max-width: 500px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #5680e9; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #333;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: #f2f2f2;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f2f2f2;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #5680e9;
    background-color: #f2f2f2; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.2rem;
    width: 300px; }
  .hi-heading {
    display: flex;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    justify-content: center; }
  .msg-heading {
    display: flex;
    font-size: 1.5rem;
    justify-content: center; }
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%; }
  .portfolio img {
    width: 350px;
    height: 350px; }
  .container {
    width: 350px;
    height: 350px;
    margin: 20px auto; }
  #about h2 {
    font-size: 19px;
    margin-bottom: -5px;
    font-weight: 600;
    text-align: center; }
  .form-control {
    width: 300px; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 2rem;
    font-size: 1.3rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 0.8rem;
    margin-bottom: 1rem; }
  .fa-angle-down {
    display: none; }
  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .bio p {
    font-size: 14px; }
  .about-info .bio {
    margin: auto; }
  .about-info .bio-img {
    margin-right: auto; }
  .design-example {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .example-title {
    font-size: 20px;
    width: 255px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px; }
  .histobox-logo {
    margin-top: 50px;
    width: 200px; }
  .example-subheads {
    text-align: center;
    margin-top: 30px; }
  .section-titles {
    font-size: 20px;
    text-align: center;
    margin-top: 20px; }
  .section-desc {
    font-size: 14px; }
  .design-flow {
    width: 275px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 20px auto; }
  .line-break {
    margin-top: 20px;
    width: 250px; }
  .persona-img {
    width: 300px; }
  .PM-img-sec {
    flex-direction: column; }
  .matrix-img {
    width: 250px;
    margin: 10px 0px;
    justify-content: center; }
  .sitemap-img {
    width: 250px; }
  .adobexd {
    flex-direction: column; }
  .adobexd-img {
    width: 250px;
    margin: 10px 0px; }
  .adobe-link {
    font-size: 18px; }
  .thank-you {
    font-size: 20px;
    margin-bottom: 300px; }
  #mybtn {
    margin-bottom: 100px; }
  .danceparty-header-img {
    width: 250px; }
  .nick-styl {
    width: 320px;
    display: flex;
    justify-content: center;
    margin: auto; }
  .dance-video {
    width: 320px; }
  .nick-sitemap {
    width: 320px; }
  .ideal-img {
    width: 300px;
    border: 4px solid;
    border-radius: 15px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 10px; } }
