:root {
  --color-primary: #fafafa;
  --color-primary-darken: #f2f2f2;
  --color-secondary: #3a86ff;
  --color-tertiary: #78acff;
  --color-text: #333;
  --button-hover: #5c9bff;
  --color-overlay-text: #ffffff;
  --color-line-break: #e5e5e5; }

/*
$primary-color: #fafafa;
$secondary-color: #3a86ff;
$third-color: #78acff;
$text-color: #333;
$button-hover: #5c9bff;
*/
html {
  scroll-behavior: smooth; }

html[data-theme="dark"] {
  background: var(--color-primary);
  --color-primary: #121212;
  --color-text: #ececec;
  --color-primary-darken: #242424;
  --color-overlay-text: #333; }

main {
  min-height: calc(100vh - 60px); }

body {
  background: var(--color-primary);
  color: var(--color-text);
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-weight: 400; }

* {
  box-sizing: border-box;
  font-family: "Muli", "Raleway", "Helvetica Neue", "Segoe UI", Tahoma, Verdana, sans-serif; }

.line-break {
  border: 1px solid var(--color-line-break);
  margin-bottom: 50px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-primary); }

li {
  float: right; }

li a {
  display: block;
  color: var(--color-text);
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease-out; }
  li a.contact {
    margin-left: -5px; }

li a:hover {
  text-decoration: underline; }

.menu-nav {
  width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  justify-content: right; }

.nav-btn {
  margin: 8px 0px;
  float: right; }
  .nav-btn a:hover {
    color: var(--color-secondary); }

.nav-item.current > a {
  color: var(--color-secondary); }

.nav-logo {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
  margin-right: 415px; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 200; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 250;
    text-align: center; }

.hi-heading {
  margin-top: 2rem;
  font-size: 3.5rem;
  font-weight: 600;
  justify-content: left; }

.msg-heading {
  color: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1px; }

.home-greeting {
  width: 945px;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin: auto; }

.bounce {
  animation: bounce 3.2s;
  animation-delay: 5s;
  animation-iteration-count: infinite; }

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-12px); } }

.portfolio {
  margin: auto;
  display: grid;
  width: 1000px;
  grid-template-columns: 1fr 1fr; }

.portfolio img {
  width: 450px;
  height: 450px;
  border-radius: 5px; }

.container {
  position: relative;
  display: inline-block;
  width: 450px;
  height: 450px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  border-radius: 5px; }

.histo-proj-img {
  background-color: #f1f1f1; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--color-text);
  border-radius: 5px; }

.container:hover .overlay {
  opacity: 0.9; }

.proj-title {
  text-align: center;
  font-weight: 800;
  font-size: 22px; }

.text {
  color: var(--color-overlay-text);
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 240px; }

strong {
  font-weight: 400; }

.icons a {
  color: var(--color-text);
  text-decoration: none;
  padding: 0px 10px; }
  .icons a:hover {
    color: var(--color-secondary);
    transition: all 0.3s ease-out; }

.icons {
  width: 100%;
  text-align: center; }

.icons .fa {
  display: inline-block;
  vertical-align: middle; }

#about h2 {
  margin-top: 65px;
  margin-bottom: 20px;
  text-align: left; }

.about-info {
  display: grid;
  grid-template-areas: "bio-img bio";
  grid-template-columns: 1fr 1fr; }
  .about-info .bio-img {
    grid-area: bio-img;
    margin: auto;
    width: 435px;
    height: auto;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4);
    margin-right: 170px;
    border-radius: 5px; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.1rem;
    font-weight: 300;
    width: 500px;
    line-height: 37px;
    margin-top: 30px; }
  .about-info .about-link {
    color: var(--color-secondary);
    text-decoration: none; }
  .about-info .contact-btn {
    text-decoration: none; }
  .about-info .btn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.14), 0px 2px 2px rgba(50, 50, 50, 0.12), 0px 1px 3px rgba(50, 50, 50, 0.2); }
    .about-info .btn:hover {
      background-color: var(--button-hover);
      cursor: pointer; }

.process-desc {
  width: 720px;
  padding: 15px;
  line-height: 30px;
  margin: 20px auto;
  text-align: left;
  border: 2px solid rgba(51, 51, 51, 0.3);
  border-radius: 5px; }

.process-title {
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1.7rem; }

.design-example {
  width: 1000px;
  margin: 20px auto; }

.histobox-logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 400px; }

.example-title {
  text-align: center;
  margin: 45px 0px 5px 0px;
  font-size: 40px;
  font-weight: 600; }

.example-subheads {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--color-secondary); }

.section-titles {
  text-align: left;
  font-size: 21px;
  font-weight: 600;
  margin-top: 20px; }

.section-desc {
  line-height: 35px;
  margin-bottom: 40px; }

.design-flow {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 1000px; }

.quote {
  margin-left: 10px;
  line-height: 35px;
  margin-top: -30px;
  font-weight: 600;
  margin-bottom: 40px; }

.persona-img {
  width: 700px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.matrix-img {
  width: 450px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.PM-img-sec {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px; }

.sitemap-img {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.adobexd-img {
  width: 450px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.adobexd {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px; }

.adobe-link {
  color: var(--color-text);
  font-size: 21px;
  text-decoration: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 275px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 40px; }
  .adobe-link:hover {
    background-color: #7396ed;
    cursor: pointer; }

.thank-you {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 30px; }

.thanks {
  display: flex;
  flex-direction: column;
  margin: auto; }

.future-steps {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
  line-height: 35px; }

#myBtn {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.14), 0px 2px 2px rgba(50, 50, 50, 0.12), 0px 1px 3px rgba(50, 50, 50, 0.2); }
  #myBtn:hover {
    background-color: var(--button-hover);
    cursor: pointer; }

.danceparty-header-img {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  margin-bottom: 10px;
  width: 500px; }

.nick-styl {
  width: 600px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.nick-sitemap {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.dance-video {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

#contact h2 {
  margin-top: 50px; }

form {
  text-align: center;
  margin-top: 50px;
  transition: all 2s ease-in-out; }

.form-control {
  width: 600px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-text);
  color: var(--color-text);
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: 250; }

input {
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

form .submit {
  background-color: var(--color-tertiary);
  border-color: transparent;
  color: #000000;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.14), 0px 2px 2px rgba(50, 50, 50, 0.12), 0px 1px 3px rgba(50, 50, 50, 0.2); }
  form .submit:hover {
    background-color: var(--button-hover);
    cursor: pointer; }

.ideal-title {
  margin-bottom: 20px; }

.ideal-link {
  text-decoration: none;
  color: var(--color-text); }

.ideal-img {
  border: 4px solid;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 50px; }

.bold {
  font-weight: 600; }

#main-footer {
  text-align: center;
  background-color: var(--color-primary);
  font-size: 14px;
  padding: 1rem;
  color: var(--color-text);
  height: 60px; }

.dark-toggle {
  padding: 23px 12px; }

.theme-switch-wrapper {
  display: flex;
  align-items: center; }

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 38px; }

.theme-switch input {
  display: none; }

.slider {
  background-color: var(--color-text);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s; }

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 14px; }

input:checked + .slider {
  background-color: var(--color-secondary); }

input:checked + .slider:before {
  transform: translateX(18px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.sun-icons {
  height: 11px;
  margin-bottom: 2px;
  margin-left: 4px; }

.moon-icons {
  height: 11px;
  margin-bottom: 2px;
  margin-left: 3px; }

#case-study {
  margin: auto;
  width: 1000px; }

.cover-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 80px 0px; }

.jupyter-orange {
  color: #f37626; }

.case-title {
  font-size: 48px;
  font-weight: 600;
  padding: 0px 20px 80px 0px; }

.case-img {
  padding: 0px 0px 0px 20px;
  width: 520px; }

.line-sep {
  border: 1px solid var(--color-line-break);
  margin-top: 50px;
  margin-bottom: 50px; }

.case-section {
  width: 1000px; }

.case-section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px; }

.case-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  margin-bottom: 15px; }

.case-section-emphasis {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  font-style: italic; }

.case-section-sub-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px; }

.case-center-img {
  display: flex;
  align-items: center;
  margin: auto;
  width: 720px;
  border-radius: 5px; }

.case-img-desc {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-weight: 600; }

.case-image-sec {
  margin: 40px auto; }

.jupyter-video {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 720px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.center-question-emphasis {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 32px; }

.demo-btn {
  border: none;
  padding: 15px 30px;
  box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.14), 0px 2px 2px rgba(50, 50, 50, 0.12), 0px 1px 3px rgba(50, 50, 50, 0.2);
  border-radius: 5px;
  font-size: 16px; }
  .demo-btn:hover {
    background-color: var(--button-hover);
    cursor: pointer; }

.demo-buttons {
  width: 720px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around; }

.histo-3d-img {
  width: 520px; }

.histo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  padding: 5px 0px; }

.case-stagger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0px; }

.case-left {
  margin-right: 50px; }

.case-right {
  margin-left: 50px; }

.stagger-desc {
  font-weight: 600;
  font-size: 24px; }

.stagger-img {
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.14), 0px 3px 4px rgba(50, 50, 50, 0.12), 0px 1px 5px rgba(50, 50, 50, 0.2); }

.center-this {
  display: flex;
  justify-content: center;
  margin: auto; }

.numbered-list {
  text-align: left;
  font-weight: 600;
  line-height: 180%;
  font-size: 21px; }

.top-space {
  margin-top: 40px; }

.insight-quote {
  width: 720px;
  font-size: 18px;
  font-weight: 600;
  line-height: 170%; }

.ideal-cover-img {
  border-radius: 5px;
  padding: 0px;
  margin-left: 50px;
  box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.14), 0px 3px 4px rgba(50, 50, 50, 0.12), 0px 1px 5px rgba(50, 50, 50, 0.2); }

.ideal-website-img {
  box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.14), 0px 3px 4px rgba(50, 50, 50, 0.12), 0px 1px 5px rgba(50, 50, 50, 0.2);
  margin: 40px auto; }

.the-slideshow {
  margin: 40px auto; }

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: none; }

.mySlides2 {
  display: none; }

.slide-img {
  width: 65%;
  display: flex;
  margin: auto; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  margin-top: -22px;
  padding: 18px;
  color: var(--color-text);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: var(--color-secondary); }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.gif-showcase {
  display: flex;
  justify-content: space-between; }

.jp-gif {
  width: 80%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.14), 0px 2px 2px rgba(50, 50, 50, 0.12), 0px 1px 3px rgba(50, 50, 50, 0.2);
  display: flex;
  margin: auto; }

.number-text {
  font-weight: 600;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.caption-text {
  text-align: center;
  font-weight: 600;
  margin-top: 20px; }

@media screen and (min-width: 1171px) {
  .bio-img {
    position: relative;
    left: 120px;
    width: 500px; }
  .fa-angle-down {
    font-size: 50px;
    color: #4d4d4d;
    z-index: 2;
    position: absolute;
    top: 91%;
    left: 50%; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: var(--color-secondary); }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: var(--color-text);
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: var(--color-primary-darken);
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: var(--color-primary-darken);
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: var(--color-text);
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary-darken); }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.5rem;
    width: 825px; }
  .hi-heading {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin: auto; }
  .msg-heading {
    display: flex;
    justify-content: center;
    margin: auto; }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 825px; }
  .portfolio img {
    width: 380px;
    height: 380px;
    margin: auto; }
  .container {
    width: 380px;
    height: 380px;
    margin: auto;
    margin-bottom: 30px; }
  #about h2 {
    text-align: center;
    margin-top: 40px; }
  .about-info {
    grid-template-areas: "bio-img" "bio";
    grid-template-columns: 1fr; }
  .about-info .bio-img {
    margin-right: auto;
    margin-top: 85px;
    width: 450px; }
  .about-info .bio {
    margin: auto;
    width: 850px; }
  .bio p {
    width: 70%;
    display: block;
    margin: auto;
    justify-content: center;
    margin-bottom: 25px; }
  .fa-angle-down {
    display: none; }
  .dark-toggle {
    padding: 12px 12px; }
  #case-study {
    margin-top: 50px;
    width: 720px; }
  .case-title {
    font-size: 30px; }
  .case-img {
    width: 400px; }
  .case-section {
    width: 720px; }
  .histo-header {
    margin-left: 0px; }
  .histo-title {
    font-size: 48px;
    padding: 0px 0px 80px 0px; } }

@media screen and (max-width: 768px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: var(--color-secondary); }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: var(--color-text);
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: var(--color-primary-darken);
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: var(--color-primary-darken);
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: var(--color-text);
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary-darken); }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.5rem;
    width: 650px; }
  .hi-heading {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin: auto; }
  .msg-heading {
    display: flex;
    justify-content: center;
    margin: auto; }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 660px; }
  .portfolio img {
    width: 300px;
    height: 300px;
    margin: auto; }
  .container {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px; }
  #about h2 {
    text-align: center;
    margin-top: 40px; }
  .about-info {
    grid-template-areas: "bio-img" "bio";
    grid-template-columns: 1fr; }
  .about-info .bio-img {
    margin-right: auto;
    margin-top: 85px;
    width: 450px; }
  .about-info .bio {
    margin: auto;
    width: 470px; }
  .bio p {
    margin-bottom: 25px; }
  .form-control {
    width: 400px; }
  .dark-toggle {
    padding: 12px 12px; }
  #case-study {
    margin: auto;
    margin-top: 50px;
    width: 520px; }
  .cover-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px; }
  .histo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    margin-left: 0px; }
  .case-title {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    padding: 30px 0px 20px 0px; }
  .case-img {
    padding: 20px 0px;
    width: 500px;
    display: flex;
    justify-content: center; }
  .case-section {
    width: 520px; }
  .case-center-img {
    width: 520px; }
  .jupyter-video {
    width: 520px; }
  .demo-buttons {
    width: 520px; }
  .demo-btn {
    padding: 15px 20px;
    font-size: 14px; }
  .histo-3d-img {
    width: 300px; }
  .case-stagger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    flex-direction: column-reverse; }
  .case-left {
    margin-right: 0px; }
  .case-right {
    margin-left: 0px; }
  .stagger-desc {
    font-weight: 600;
    font-size: 21px;
    margin-top: 20px; }
  .stagger-img {
    height: 500px; }
  .switch-sides {
    flex-direction: column; }
  .ideal-cover-img {
    padding: 0px;
    margin: 20px 0px; } }

@media screen and (max-width: 500px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: var(--color-secondary); }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: var(--color-text);
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: var(--color-primary-darken);
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: var(--color-primary-darken);
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: var(--color-text);
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary-darken); }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.2rem;
    width: 300px; }
  .hi-heading {
    display: flex;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    justify-content: center; }
  .msg-heading {
    display: flex;
    font-size: 1.5rem;
    justify-content: center; }
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%; }
  .portfolio img {
    width: 350px;
    height: 350px; }
  .container {
    width: 350px;
    height: 350px;
    margin: 20px auto; }
  .form-control {
    width: 300px; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 2rem;
    font-size: 1.3rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 0.8rem;
    margin-bottom: 1rem; }
  .fa-angle-down {
    display: none; }
  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  #about h2 {
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: -5px;
    font-weight: 600;
    text-align: center; }
  .bio p {
    font-size: 14px; }
  .about-info .bio {
    margin: auto;
    width: 90%; }
  .about-info .bio-img {
    width: 80%;
    margin-right: auto;
    margin-top: 85px; }
  .design-example {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .example-title {
    font-size: 20px;
    width: 255px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px; }
  .histobox-logo {
    margin-top: 50px;
    width: 200px; }
  .example-subheads {
    text-align: center;
    margin-top: 30px; }
  .section-titles {
    font-size: 20px;
    text-align: center;
    margin-top: 20px; }
  .section-desc {
    font-size: 14px; }
  .design-flow {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: auto; }
  .line-break {
    margin-top: 20px;
    width: 90%; }
  .persona-img {
    width: 300px; }
  .PM-img-sec {
    flex-direction: column; }
  .matrix-img {
    width: 250px;
    margin: 10px auto;
    justify-content: center; }
  .sitemap-img {
    width: 250px; }
  .adobexd {
    flex-direction: column; }
  .adobexd-img {
    width: 250px;
    margin: 10px auto;
    justify-content: center; }
  .adobe-link {
    font-size: 18px; }
  .thank-you {
    font-size: 20px;
    margin-bottom: 300px; }
  #mybtn {
    margin-bottom: 100px; }
  .danceparty-header-img {
    width: 250px; }
  .nick-styl {
    width: 320px;
    display: flex;
    justify-content: center;
    margin: auto; }
  .dance-video {
    width: 320px; }
  .nick-sitemap {
    width: 320px; }
  .ideal-img {
    width: 300px;
    border: 4px solid;
    border-radius: 15px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 10px; }
  .dark-toggle {
    padding: 12px 12px; }
  #case-study {
    margin: auto;
    margin-top: 50px;
    width: 350px; }
  .cover-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px; }
  .histo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    padding: 10px 0px; }
  .case-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 35px 0px 20px 0px; }
  .case-img {
    padding: 20px 0px;
    width: 350px; }
  .case-section {
    width: 350px; }
  .case-center-img {
    width: 350px; }
  .jupyter-video {
    width: 350px; }
  .demo-buttons {
    width: 350px; }
  .demo-btn {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 600; }
  .case-section-title {
    font-size: 32px;
    font-weight: 600; }
  .case-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 15px; }
  .case-section-emphasis {
    font-size: 21px; }
  .center-question-emphasis {
    font-size: 21px; }
  .histo-3d-img {
    width: 280px;
    display: flex;
    margin: 0px 0px;
    padding: 0px; }
  .cover-jupyter-img {
    width: 300px;
    display: flex;
    margin: 10px 0px 20px 0px;
    padding: 0px; }
  .numbered-list {
    text-align: left;
    font-weight: 600;
    line-height: 170%;
    font-size: 18px; }
  .ideal-cover-img {
    padding: 0px;
    margin: 20px 0px; } }
