//Widescreens
@include mediaXl {
  .bio-img {
    position: relative;
    left: 120px;
    width: 500px;
  }

  .fa-angle-down {
    font-size: 50px;
    color: rgb(77, 77, 77);
    z-index: 2;
    position: absolute;
    top: 91%;
    left: 50%;
  }
}

// Desktops & Laptops
@include mediaLg {
  @import "menu";

  //home
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.5rem;
    width: 825px;
  }

  .hi-heading {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin: auto;
  }

  .msg-heading {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 825px;
  }

  .portfolio img {
    width: 380px;
    height: 380px;
    margin: auto;
  }

  .container {
    width: 380px;
    height: 380px;
    margin: auto;
    margin-bottom: 30px;
  }

  //about
  #about h2 {
    text-align: center;
    margin-top: 40px;
  }

  .about-info {
    grid-template-areas:
      "bio-img"
      "bio";

    grid-template-columns: 1fr;
  }

  .about-info .bio-img {
    margin-right: auto;
    margin-top: 85px;
    width: 450px;
  }

  .about-info .bio {
    margin: auto;
    width: 850px;
  }

  .bio {
    & p {
      width: 70%;
      display: block;
      margin: auto;
      justify-content: center;
      margin-bottom: 25px;
    }
  }

  .fa-angle-down {
    display: none;
  }

  //dark theme
  .dark-toggle {
    padding: 12px 12px;
  }

  //CASE STUDY RESPONSIVE

  #case-study {
    margin-top: 50px;
    width: 720px;
  }

  .case-title {
    font-size: 30px;
  }

  .case-img {
    width: 400px;
  }

  .case-section {
    width: 720px;
  }

  .histo-header {
    margin-left: 0px;
  }

  .histo-title {
    font-size: 48px;
    padding: 0px 0px 80px 0px;
  }
}

// Tablets & Small Laptops
@include mediaMd {
  @import "menu";
  //home
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.5rem;
    width: 650px;
  }

  .hi-heading {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin: auto;
  }

  .msg-heading {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 660px;
  }

  .portfolio img {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .container {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
  }

  //about
  #about h2 {
    text-align: center;
    margin-top: 40px;
  }

  .about-info {
    grid-template-areas:
      "bio-img"
      "bio";

    grid-template-columns: 1fr;
  }

  .about-info .bio-img {
    margin-right: auto;
    margin-top: 85px;
    width: 450px;
  }

  .about-info .bio {
    margin: auto;
    width: 470px;
  }

  .bio {
    & p {
      margin-bottom: 25px;
    }
  }

  .form-control {
    width: 400px;
  }

  //dark theme
  .dark-toggle {
    padding: 12px 12px;
  }

  //CASE STUDY RESPONSIVE

  #case-study {
    margin: auto;
    margin-top: 50px;
    width: 520px;
  }

  .cover-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
  }

  .histo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    margin-left: 0px;
  }

  .case-title {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    padding: 30px 0px 20px 0px;
  }

  .case-img {
    padding: 20px 0px;
    width: 500px;
    display: flex;
    justify-content: center;
  }

  .case-section {
    width: 520px;
  }

  .case-center-img {
    width: 520px;
  }

  .jupyter-video {
    width: 520px;
  }

  .demo-buttons {
    width: 520px;
  }

  .demo-btn {
    padding: 15px 20px;
    font-size: 14px;
  }

  .histo-3d-img {
    width: 300px;
  }

  .case-stagger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    flex-direction: column-reverse;
  }

  .case-left {
    margin-right: 0px;
  }

  .case-right {
    margin-left: 0px;
  }

  .stagger-desc {
    font-weight: 600;
    font-size: 21px;
    margin-top: 20px;
  }

  .stagger-img {
    height: 500px;
  }

  .switch-sides {
    flex-direction: column;
  }

  .ideal-cover-img {
    padding: 0px;
    margin: 20px 0px;
  }
}

// Smartphones
@include mediaSm {
  @import "menu";

  //home
  .home-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3.2rem;
    width: 300px;
  }

  .hi-heading {
    display: flex;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    justify-content: center;
  }

  .msg-heading {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  .portfolio img {
    width: 350px;
    height: 350px;
  }

  .container {
    width: 350px;
    height: 350px;
    margin: 20px auto;
  }

  .form-control {
    width: 300px;
  }

  h1,
  h2,
  h3 {
    &.lg-heading {
      margin-top: 2rem;
      font-size: 1.3rem;
    }

    &.sm-heading {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }

  .fa-angle-down {
    display: none;
  }

  // Portfolio sass

  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  //about
  #about h2 {
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: -5px;
    font-weight: 600;
    text-align: center;
  }

  .bio {
    & p {
      font-size: 14px;
    }
  }

  .about-info .bio {
    margin: auto;
    width: 90%;
  }

  .about-info .bio-img {
    width: 80%;
    margin-right: auto;
    margin-top: 85px;
  }

  //The process mobile
  .design-example {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .example-title {
    font-size: 20px;
    width: 255px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
  }

  .histobox-logo {
    margin-top: 50px;
    width: 200px;
  }

  .example-subheads {
    text-align: center;
    margin-top: 30px;
  }

  .section-titles {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .section-desc {
    font-size: 14px;
  }

  .design-flow {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .line-break {
    margin-top: 20px;
    width: 90%;
  }

  .persona-img {
    width: 300px;
  }

  .PM-img-sec {
    flex-direction: column;
  }

  .matrix-img {
    width: 250px;
    margin: 10px auto;
    justify-content: center;
  }

  .sitemap-img {
    width: 250px;
  }

  .adobexd {
    flex-direction: column;
  }
  .adobexd-img {
    width: 250px;
    margin: 10px auto;
    justify-content: center;
  }

  .adobe-link {
    font-size: 18px;
  }
  .thank-you {
    font-size: 20px;
    margin-bottom: 300px;
  }

  #mybtn {
    margin-bottom: 100px;
  }

  //dance party

  .danceparty-header-img {
    width: 250px;
  }

  .nick-styl {
    width: 320px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .dance-video {
    width: 320px;
  }

  .nick-sitemap {
    width: 320px;
  }
  //ideal lab
  .ideal-img {
    width: 300px;
    border: 4px solid;
    border-radius: 15px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
  }

  //dark theme
  .dark-toggle {
    padding: 12px 12px;
  }

  //CASE STUDY RESPONSIVE

  #case-study {
    margin: auto;
    margin-top: 50px;
    width: 350px;
  }

  .cover-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
  }

  .histo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    padding: 10px 0px;
  }

  .case-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 35px 0px 20px 0px;
  }

  .case-img {
    padding: 20px 0px;
    width: 350px;
  }

  .case-section {
    width: 350px;
  }

  .case-center-img {
    width: 350px;
  }

  .jupyter-video {
    width: 350px;
  }

  .demo-buttons {
    width: 350px;
  }

  .demo-btn {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 600;
  }

  .case-section-title {
    font-size: 32px;
    font-weight: 600;
  }

  .case-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 15px;
  }

  .case-section-emphasis {
    font-size: 21px;
  }

  .center-question-emphasis {
    font-size: 21px;
  }

  .histo-3d-img {
    width: 280px;
    display: flex;
    margin: 20px 0px;
    padding: 0px;
  }

  .cover-jupyter-img {
    width: 280px;
    display: flex;
    margin: 20px 0px;
    padding: 0px;
  }

  .numbered-list {
    text-align: left;
    font-weight: 600;
    line-height: 170%;
    font-size: 18px;
  }

  .ideal-cover-img {
    padding: 0px;
    margin: 20px 0px;
  }
}
