// remember to npm run sass to compile scss to css
@import "config";

main {
  //used for stick footers
  min-height: calc(100vh - 60px);
}

body {
  background: $primary-color;
  color: $text-color;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", "Segoe UI", Tahoma, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 350;
}

* {
  box-sizing: border-box;
}

//navbar

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $primary-color;
  font-family: "Helvetica Neue", "Segoe UI", Tahoma, Verdana, sans-serif;
}

li {
  float: right;
}

li a {
  display: block;
  color: $text-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 350;
  @include easeOut();

  &.contact {
    margin-left: -5px;
  }
}

li a:hover {
  color: $secondary-color;
  background-color: rgba(250, 246, 246, 0.829);
}

.nav-item {
  &.current > a {
    color: $secondary-color;
  }
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;
  text-align: center;

  &.lg-heading {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 350;
  }

  &.sm-heading {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 250;
  }
}

//Portfolio

.portfolio {
  width: 100%;
  text-align: center;
}

.portfolio img {
  width: 400px;
  height: 400px;
}

.container {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $text-color;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

strong {
  font-weight: 400;
}

//icons
.icons a {
  color: $text-color;
  text-decoration: none;
  padding: 5px;

  &:hover {
    color: $secondary-color;
    @include easeOut();
  }
}

.icons {
  width: 100%;
  text-align: center;
}

.icons .fa {
  display: inline-block;
  vertical-align: middle;
}

//About

#about h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.about-info {
  display: grid;
  grid-template-areas: "bio-img bio";
  grid-template-columns: 1fr 1fr;

  .bio-img {
    grid-area: bio-img;
    margin: auto;
    max-width: 40%;
    height: auto;
    border-radius: 2%;
    border: $secondary-color 1px solid;
    margin-right: 190px;
  }

  .bio {
    grid-area: bio;
    font-size: 1.1rem;
    width: 70%;
    line-height: 32px;
    margin-top: 30px;
  }

  .weight {
    color: $text-color;
    text-decoration: none;
  }

  .contact-btn {
    text-decoration: none;
  }
  .btn {
    border: 1px solid #f1f1f1;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;

    &:hover {
      background-color: #8ca8ed;
      cursor: pointer;
    }
  }
}

//Contact

#contact h2 {
  margin-top: 50px;
}
form {
  text-align: center;
  margin-top: 50px;
  @include easeInOut();
}

.form-control {
  width: 600px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $text-color;
  color: $text-color;
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: 250;
}

input {
  height: 45px;
}

form .submit {
  background-color: #8ca8ed;
  border-color: transparent;
  color: #000000;
  font-size: 18px;
  margin-bottom: 30px;
  border-radius: 5px;

  &:hover {
    background-color: #7396ed;
    cursor: pointer;
  }
}

// Footer
#main-footer {
  text-align: center;
  background-color: darken($primary-color, 2);
  font-size: 14px;
  padding: 1rem;
  color: $text-color;
  height: 60px;
}

@import "mobile";
