// remember to npm run sass to compile scss to css
@import "config";

html {
  scroll-behavior: smooth;
}

html[data-theme="dark"] {
  background: var(--color-primary);
  --color-primary: #121212;
  --color-text: #ececec;
  --color-primary-darken: #242424;
  --color-overlay-text: #333;
}

main {
  //used for stick footers
  min-height: calc(100vh - 60px);
}

body {
  background: var(--color-primary);
  color: var(--color-text);
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  font-family: "Muli", "Raleway", "Helvetica Neue", "Segoe UI", Tahoma, Verdana,
    sans-serif;
}

.line-break {
  border: 1px solid var(--color-line-break);
  margin-bottom: 50px;
}

//navbar

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-primary);
}

li {
  float: right;
}

li a {
  display: block;
  color: var(--color-text);
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-weight: 300;
  @include easeOut();

  &.contact {
    margin-left: -5px;
  }
}

li a:hover {
  text-decoration: underline;
}

.menu-nav {
  width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  justify-content: right;
}

.nav-btn {
  margin: 8px 0px;

  float: right;
  a:hover {
    color: var(--color-secondary);
  }
}

.nav-item {
  &.current > a {
    color: var(--color-secondary);
  }
}

.nav-logo {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
  margin-right: 415px;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;

  &.lg-heading {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
  }

  &.sm-heading {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 250;
    text-align: center;
  }
}

.hi-heading {
  margin-top: 2rem;
  font-size: 1.7em;
  font-weight: 600;
  justify-content: left;
}

.link {
  color: var(--color-secondary);
  text-decoration: none;
  padding: 0px;
  display: inline;
}

.msg-heading {
  color: var(--color-text);
  line-height: 32px;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 1px;
}

.home-format {
  width: 850px;
}

.home-greeting {
  width: 945px;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

// arrow scroll
.bounce {
  animation: bounce 3.2s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

//Portfolio

.portfolio {
  margin: auto;
  display: grid;
  width: 1000px;
  grid-template-columns: 1fr 1fr;
}

.portfolio img {
  width: 450px;
  height: 450px;
  border-radius: $round-corners;
}

.container {
  position: relative;
  display: inline-block;
  width: 450px;
  height: 450px;
  box-shadow: $box-shadow;
  margin: 30px;
  border-radius: $round-corners;
}

.histo-proj-img {
  background-color: #f1f1f1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--color-text);
  border-radius: $round-corners;
}

.container:hover .overlay {
  opacity: 0.9;
}

.proj-title {
  text-align: center;
  font-weight: 800;
  font-size: 22px;
}

.text {
  color: var(--color-overlay-text);
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 240px;
}

strong {
  font-weight: 400;
}

//icons
.icons a {
  color: var(--color-text);
  text-decoration: none;
  padding: 0px 10px;

  &:hover {
    color: var(--color-secondary);
    @include easeOut();
  }
}

.icons {
  width: 100%;
  text-align: center;
}

.icons .fa {
  display: inline-block;
  vertical-align: middle;
}

//About

#about h2 {
  margin-top: 65px;
  margin-bottom: 10px;
  text-align: left;
}

.bio-heading {
  font-weight: 600;
}

.bio-description {
  margin-top: 15px;
}

.about-info {
  display: grid;
  grid-template-areas: "bio-img bio";
  grid-template-columns: 1fr 1fr;

  .bio-img {
    grid-area: bio-img;
    margin: auto;
    width: 435px;
    height: auto;
    box-shadow: $btn-shadow-2;
    margin-right: 170px;
    border-radius: $round-corners;
  }

  .bio {
    grid-area: bio;
    font-size: 1.1rem;
    font-weight: 300;
    width: 500px;
    line-height: 37px;
    margin-top: 30px;
  }

  .about-link {
    color: var(--color-secondary);
    text-decoration: none;
  }

  .contact-btn {
    text-decoration: none;
  }
  .btn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 32px;
    border-radius: $round-corners;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: $btn-shadow;
    background-color: var(--color-button);

    &:hover {
      background-color: var(--button-hover);
      cursor: pointer;
    }
  }
}

//Process

.process-desc {
  width: 720px;
  padding: 15px;
  line-height: 30px;
  margin: 20px auto;
  text-align: left;
  border: 2px solid rgba(51, 51, 51, 0.3);
  border-radius: $round-corners;
}

.process-title {
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1.7rem;
}

.design-example {
  width: 1000px;
  margin: 20px auto;
}

.histobox-logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 400px;
}

.example-title {
  text-align: center;
  margin: 45px 0px 5px 0px;
  font-size: 40px;
  font-weight: 600;
}

.example-subheads {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--color-secondary);
}

.section-titles {
  text-align: left;
  font-size: 21px;
  font-weight: 600;
  margin-top: 20px;
}

.section-desc {
  //margin-left: 10px;
  line-height: 35px;
  margin-bottom: 40px;
}

.design-flow {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 1000px;
}

.quote {
  margin-left: 10px;
  line-height: 35px;
  margin-top: -30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.persona-img {
  width: 700px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

.matrix-img {
  width: 450px;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

.PM-img-sec {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.sitemap-img {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

.adobexd-img {
  width: 450px;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

.adobexd {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.adobe-link {
  color: var(--color-text);
  font-size: 21px;

  text-decoration: none;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
  width: 275px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 40px;

  &:hover {
    background-color: #7396ed;
    cursor: pointer;
  }
}

.thank-you {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 30px;
}

.thanks {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.future-steps {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
  line-height: 35px;
}

//top button
#myBtn {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 50px;
  border-radius: $round-corners;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  box-shadow: $btn-shadow;
  background-color: var(--color-button);

  &:hover {
    background-color: var(--button-hover);
    cursor: pointer;
  }
}

//dance party

.danceparty-header-img {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  margin-bottom: 10px;
  width: 500px;
}

.nick-styl {
  width: 600px;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

.nick-sitemap {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

.dance-video {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

//Contact

#contact h2 {
  margin-top: 50px;
}
form {
  text-align: center;
  margin-top: 50px;
  @include easeInOut();
}

.form-control {
  width: 600px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-text);
  color: var(--color-text);
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: 250;
}

input {
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form .submit {
  background-color: var(--color-button);
  border-color: transparent;
  color: #000000;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: $round-corners;
  box-shadow: $btn-shadow;

  &:hover {
    background-color: var(--button-hover);
    cursor: pointer;
  }
}

//ideal-lab
.ideal-title {
  margin-bottom: 20px;
}

.ideal-link {
  text-decoration: none;
  color: var(--color-text);
}

.ideal-img {
  border: 4px solid;
  border-radius: $round-corners;
  box-shadow: $box-shadow;
  margin-top: 30px;
  margin-bottom: 50px;
}

.bold {
  font-weight: 600;
}

// Footer
#main-footer {
  text-align: center;
  background-color: var(--color-primary);
  font-size: 14px;
  padding: 1rem;
  color: var(--color-text);
  height: 60px;
}

//Dark-theme

.dark-toggle {
  padding: 23px 12px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 38px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--color-text);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 14px;
}

input:checked + .slider {
  background-color: var(--color-secondary);
}

input:checked + .slider:before {
  transform: translateX(18px); //toggle distance
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun-icons {
  height: 11px;
  margin-bottom: 2px;
  margin-left: 4px;
}

.moon-icons {
  height: 11px;
  margin-bottom: 2px;
  margin-left: 3px;
}

//CASE STUDY

#case-study {
  margin: auto;
  width: 1000px;
}

.cover-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
}

.jupyter-orange {
  color: #f37626;
}

.case-title {
  font-size: 42px;
  font-weight: 600;
  padding: 0px 20px 80px 0px;
}

.case-img {
  padding: 0px 0px 0px 20px;
  width: 520px;
}

.line-sep {
  border: 1px solid var(--color-line-break);
  margin-top: 50px;
  margin-bottom: 50px;
}

.case-section {
  width: 1000px;
}

.case-section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.case-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  margin-bottom: 15px;
}

.case-section-emphasis {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  font-style: italic;
}

.case-section-sub-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}

.case-center-img {
  display: flex;
  align-items: center;
  margin: auto;
  width: 720px;
  border-radius: $round-corners;
}

.case-img-desc {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
}

.case-image-sec {
  margin: 40px auto;
}

.cover-jupyter-img {
  border-radius: $round-corners;
  padding: 0px;
  margin-left: 50px;
  box-shadow: $btn-shadow-2;
}

.jupyter-video {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 720px;
  box-shadow: $box-shadow;
  border-radius: $round-corners;
}

.center-question-emphasis {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 32px;
}

.demo-btn {
  border: none;
  padding: 15px 30px;
  box-shadow: $btn-shadow;
  border-radius: $round-corners;
  font-size: 16px;
  background-color: var(--color-button);

  &:hover {
    background-color: var(--button-hover);

    cursor: pointer;
  }
}

.demo-buttons {
  width: 720px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}

.histo-3d-img {
  width: 420px;
  margin: 40px 80px;
}

.histo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  padding: 5px 0px;
}

.case-stagger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.case-left {
  margin-right: 50px;
}

.case-right {
  margin-left: 50px;
}

.stagger-desc {
  font-weight: 600;
  font-size: 24px;
}

.stagger-img {
  height: 500px;
  border-radius: $round-corners;
  box-shadow: $btn-shadow-2;
}

.center-this {
  display: flex;
  justify-content: center;
  margin: auto;
}

.numbered-list {
  text-align: left;
  font-weight: 600;
  line-height: 180%;
  font-size: 21px;
}

.top-space {
  margin-top: 40px;
}

.insight-quote {
  width: 720px;
  font-size: 18px;
  font-weight: 600;
  line-height: 170%;
}

.ideal-cover-img {
  border-radius: $round-corners;
  padding: 0px;
  margin-left: 50px;
  box-shadow: $btn-shadow-2;
}

.ideal-website-img {
  box-shadow: $btn-shadow-2;
  margin: 40px auto;
}

//slideshow

.the-slideshow {
  margin: 40px auto;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides2 {
  display: none;
}

.slide-img {
  width: 65%;
  display: flex;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  margin-top: -22px;
  padding: 18px;
  color: var(--color-text);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: $round-corners;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: var(--color-secondary);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

//JUPYTER GIFS

.gif-showcase {
  display: flex;
  justify-content: space-between;
}

.jp-gif {
  width: 80%;
  border-radius: $round-corners;
  box-shadow: $btn-shadow;
  display: flex;
  margin: auto;
}

.number-text {
  color: $text-always-black;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-text {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

@import "mobile";
